@charset "utf-8";
/* 
margin / padding / background / color / font-size / font-family / text-align
position (relative, absolute, fixed, static)
*/


body { background:#f6f6f6; }

.comm_box, .comm_inbox, .chart_column_inbox { margin:15px; background:#fff url('../img/new_img/bg_box.jpg'); text-align:left; border-radius:15px; box-shadow:0 0 5px #ddd; overflow:none; }
.comm_tit { padding:12px 15px; background:#fff; color:#25265e; font-size:1.5em; font-weight:800; border-radius:15px 15px 0 0; }
.comm_tit span { font-size:1.0em; font-weight:800; }
.comm_inbox h3 { padding:12px 15px; background:#fff url('../img/new_img/icon_arr.png') no-repeat right top; border-radius:15px; cursor:pointer; }
.comm_inbox h3 a { display:block; color:#25265e; font-size:1.2em; font-weight:800; }
.comm_inbox h3.open { border-radius:15px 15px 0 0; background:#fff url('../img/new_img/icon_arr.png') no-repeat right top -80px; }
.comm_inbox div.inbox_cont { padding:15px; line-height:180%; display:none; }

.chart_column_all { height:170px; margin:0 auto; padding-left:15px; }
.chart_column_all ul { width:46%; float:left; border:0 solid red; }
.chart_column_all ul li { width:100%; text-align:center; }
.chart_column_all ul li.chart_column_graph { height:140px; padding:19px 0 4px 0; background:url('../img/new_img/bg_chart_line.png'); }
.chart_column_all ul li.chart_column_graph div { position:relative; }

.chart_mini li { width:32%; margin:0; padding:0; vertical-align:top; display:inline-block; }
.chart_mini li.chart_column_graph div { font-size:0.8em; }

.chart_column_wk { height:215px; padding:15px; }
.chart_column_wk ul { width:13%; float:left; }
.chart_column_mnth ul { width:7.6%; float:left; }
.chart_column_wk ul li { text-align:center; }
.chart_column_mnth ul li { font-size:11px; letter-spacing:-1px; }
.chart_column_wk ul li.chart_column_graph { height:140px; padding:19px 0 4px 0; background:url('../img/new_img/bg_chart_line_wk.png'); }
.chart_column_wk ul li.chart_column_graph div { position:relative; }

.chart_column_graph_txt { font-size:9pt; font-weight:800; position:relative; top:-20px; z-index:88; }

.chart_column_wk ul.charc_num { width:8%; }
.chart_column_wk ul.charc_num li { height:16px; padding-top:12px; padding-right:5px; color:#555; font-size:9pt; text-align:right; }
.chart_column_year { margin-left:15px; margin-top:15px; padding-left:12px; background:url('../img/new_img/icon_crcl.png') no-repeat; font-weight:800; }

.chart_column_inbox { margin-top:0; border-radius:0 0 15px 15px; }
.chart_column_inbox h3 { padding:12px 15px; background:url('../img/new_img/icon_arr.png') no-repeat right top -5px; border-radius:15px; cursor:pointer; }
.chart_column_inbox h3 a { display:block; padding-left:12px; background:url('../img/new_img/icon_crcl.png') no-repeat; color:#25265e; font-size:0.8em; font-weight:800; }
.chart_column_inbox h3.open { border-radius:15px 15px 0 0; background:#fff url('../img/new_img/icon_arr.png') no-repeat right top -40px; }
.chart_column_inbox div.inbox_cont { padding:15px; display:none; }
.chart_column_inbox li.chart_column_graph div { padding:0; display:block; }

.chart_top_btn { margin:5px; padding:3px 0; color:#8662ff; font-size:1.1em; font-weight:800; text-align:center; border:1px solid #8662ff; border-radius:15px; cursor:pointer; }

.chart_horiz { margin:0 15px; }
.chart_horiz li { width:49%; padding:5px 0; text-align:left; display:inline-block; }
.chart_horiz_graph { height:12px; background:#eee; border-radius:15px; }
.horiz_graph_v1 { height:12px; background:#d4c7ff; border-radius:15px; }
.horiz_graph_v2 { height:12px; background:#c7b6ff; border-radius:15px; }
.horiz_graph_v3 { height:12px; background:#a386ff; border-radius:15px; }
.horiz_graph_v4 { height:12px; background:#7951fe; border-radius:15px; }

.chart_horiz_btn { margin-bottom:20px; padding:3px 0; color:#777; font-size:1.1em; font-weight:800; text-align:center; border:1px solid #999; border-radius:15px; cursor:pointer; }
.chart_horiz_btn_selt { color:#8662ff; border:1px solid #8662ff; }

.chart_horiz_graph_botm { margin-top:15px; padding:15px 0; background:url('../img/new_img/chart_circle_dot.png') top; text-align:center; }


.gviolet1 { background:url('../img/new_img/bar_chart_v1.png') no-repeat top; }
.gviolet2 { background:url('../img/new_img/bar_chart_v2.png') no-repeat top; }
.gviolet3 { background:url('../img/new_img/bar_chart_v3.png') no-repeat top; }
.gblue1 { background:url('../img/new_img/bar_chart_b1.png') no-repeat top; }
.gblue2 { background:url('../img/new_img/bar_chart_b2.png') no-repeat top; }
.gblue3 { background:url('../img/new_img/bar_chart_b3.png') no-repeat top; }
.gvioletm1 { background:url('../img/new_img/bar_chart_v1m.png') no-repeat top; }
.gvioletm2 { background:url('../img/new_img/bar_chart_v2m.png') no-repeat top; }
.gvioletm3 { background:url('../img/new_img/bar_chart_v3m.png') no-repeat top; }
.gvioletm4 { background:url('../img/new_img/bar_chart_v4m.png') no-repeat top; }
.gvioletmn1 { background:url('../img/new_img/bar_chart_v1mn.png') no-repeat top; }
.gvioletmn2 { background:url('../img/new_img/bar_chart_v2mn.png') no-repeat top; }
.gvioletmn3 { background:url('../img/new_img/bar_chart_v3mn.png') no-repeat top; }
.gvioletmn4 { background:url('../img/new_img/bar_chart_v4mn.png') no-repeat top; }

.custom_box { padding:15px; }
.custom_box li { width:49%; vertical-align:middle; display:inline-block; }
.custom_box li:first-child { width:45%; vertical-align:middle; display:inline-block; }
.custom_box li img { width:90%; }

.custom_box_cont { margin-bottom:3px; padding-left:12px; background:url('../img/new_img/icon_crcl.png') no-repeat; font-weight:800; }

.custom_box_botm { margin:15px; padding:15px 0; border-top:2px dashed #ddd; }
.custom_box_botm img { height:15px; }

.chart_line_top { padding:15px; }
.chart_line_top select, .chart_line_top option, .chart_line_top span { font-size:1.1em; }
.chart_line_top option { font-size:1em; }
.chart_line,
.chart_circle_r { padding-bottom:15px; border-radius:0 0 15px 15px; }
.chart_circle_r ul { margin-left:10px; }
.chart_circle_r li { width:52%; text-align:center; vertical-align:middle; display:inline-block; }
.chart_circle_r li:first-child { width:45%; }
.chart_circle_r li.cbotm { width:97%; margin-top:15px; padding:10px 0; background:url('../img/new_img/chart_circle_dot.png') top; font-weight:700; }




.no_bg { background:#fff; }
.fix_width { max-width:400px; margin:0 auto; }

/* LOGIN == */
.login_tit { margin-top:20px; padding:20px 0; color:#6739ff; font-size:18pt; font-weight:800; }
.login_cont { margin:0 20px; margin-bottom:20px; }
.login_cont li { padding:4px 0; font-size:13pt; text-align:left; }
.login_cont li.ph_ma { height:50px; }
.login_cont li.ph_mb { height:70px; }
.login_cont li input { width:99%; height:50px; padding:0 15px; color:#000; font-size:12pt; border:1px solid #c5c5c5; border-radius:8px; }
.login_lost_pss { margin-bottom:20px; padding-right:18px; background:url('../img/new_img/login_pass_arr.png') no-repeat right; color:#8561fd; font-size:11pt; text-align:right; cursor:pointer; }

.login_cont li input.btn_login, input.btn_login { width:99%; height:50px; margin-bottom:5px; background:#6739ff; color:#fff; font-size:13pt; font-weight:600; text-align:center; border:0; border-radius:8px;cursor:pointer; }
.login_cont li input.btn_join { background:#fff; color:#6739ff; font-size:13pt; font-weight:600; text-align:center; cursor:pointer; }

.login_cont li input.inp_phone { width:70%; border-right:0; border-radius:8px 0 0 8px; float:left; }
.login_cont li input.btn_phone { width:29%; font-size:11pt; color:#6739ff; border:1px solid #6739ff; border-radius:0 8px 8px 0; float:left; }

.selt_list { height:170px; }
.selt_list li { width:31%; margin-left:5px; margin-bottom:5px; padding:12px 0; border:1px solid #ccc; display:inline-block; float:left; }
.selt_list li:hover, .selt_list li.selted { color:#6739ff; border:1px solid #6739ff; cursor:pointer; }

.tit_certify1 { height:30px; background:url('../img/new_img/tit_certify1.png') no-repeat; }
.tit_certify2 { height:30px; background:url('../img/new_img/tit_certify2.png') no-repeat; }

.top_guid { padding:20px 0; background:url('../img/new_img/top_bgguid.png'); border-top:1px solid #fbdbdc; border-bottom:1px solid #fdeeee; }
.top_guid_p { padding:20px 0; background:url('../img/new_img/top_bgguid_p.png'); border-top:1px solid #ffe8a5; border-bottom:1px solid #feeeca; }
.top_guid_tit { color:#6662aa; font-size:15pt; font-weight:700; }
.top_guid_subtit { color:#ff7e5f; font-size:13pt; font-weight:700; text-decoration:underline; }
.top_guid_txt { margin-top:15px; color:#2c286d; font-size:11pt; }

.guid_cont { margin:0 20px; }
.guid_cont li { padding:8px 0 0 20px; color:#5f5d98; text-align:left; }
.guid_cont li.guid_cont_tit { padding:0; padding-top:10px; color:#2c286d; font-size:13pt; font-weight:700; }
.guid_cont li.guid_icon1 { padding-left:20px; background:url('../img/new_img/icon_guid.png') no-repeat; }
.guid_cont li.guid_icon2 { margin-top:10px; padding-left:20px; background:url('../img/new_img/icon_guid.png') no-repeat; background-position:0 -40px; }
.guid_cont li.guid_line { margin:10px 0; border-bottom:1px solid #ddd; }

.btn_guid { margin-bottom:10px; padding:15px 0; padding-left:20px; background:url('../img/new_img/guid_btn_arr.png') no-repeat right; color:#6d6aa6; font-size:12pt; border:1px solid #eee; border-radius:30px; box-shadow:1px 2px 3px 0 #eee; }
.guid_eximg img { width:90%; margin-bottom:20px; }
.guid_ptn_lnk { margin-bottom:20px; padding-right:22px; background:url('../img/new_img/guid_ptn_arr.png') no-repeat right; color:#2c286d; font-size:13pt; font-weight:700; text-align:right; }

.partner_cupon_box li { width:35%; display:inline-block; float:left; }
.partner_cupon_box li input { width:100%; height:45px; font-size:11pt; border-right:0; border-radius:0; }
.partner_cupon_box li input.btn_cupon { color:#7e29ff; border:1px solid #7e29ff; }
.partner_cupon_box li:first-child { width:64%; }


/* JQUERY CSS == */
.trigger { background:url('../img/new_img/join_type_arr.png') no-repeat right; }
.modal { position:fixed; left:0; top:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.5); opacity:0; visibility:hidden; transform:scale(1.1); transition:visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; }
.modal-content { position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); padding:20px 15px; background-color:#fff; width:82%; max-width:360px; height:80%; border-radius:5px; }
.modal-content-guid { height:180px; }
.close-button { float:right; width:20px; height:20px; cursor:pointer; background:url('../img/new_img/btn_pop_close.png') no-repeat center; }
.show-modal { opacity:1; visibility:visible; transform:scale(1.0); transition:visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; }


/* JQUERY CSS == */

.poptrigger { background:url('../img/new_img/join_type_arr.png') no-repeat right; }
.popmodal { position:fixed; left:0; top:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.5); opacity:0; visibility:hidden; transform:scale(1.1); transition:visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; }
.popmodal { position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); padding:20px 15px; background-color:#fff; width:82%; max-width:360px; height:80%; border-radius:5px; }
.popmodal-content-guid { height:180px; }
.popclose-button { float:right; width:20px; height:20px; cursor:pointer; background:url('../img/new_img/btn_pop_close.png') no-repeat center; }
.popshow-modal { opacity:1; visibility:visible; transform:scale(1.0); transition:visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; }


.c-tabs-nav { display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex; list-style:none; margin:0 25px; padding:0; }
.c-tabs-nav__link { -webkit-box-flex:1; -webkit-flex:1; -ms-flex:1; flex:1; margin:15px 10px; padding:5px 0; color:#aaa; text-align:center; border:1px solid #ccc; border-radius:20px; -webkit-transition:color .3s; transition:color .3s; }
.c-tabs-nav__link:hover, 
.c-tabs-nav__link.is-active { color:#6739ff; border:1px solid #6739ff; font-weight:800; }

.c-tab { display:none; }
.c-tab.is-active { display:block; }
.c-tabs.no-js .c-tabs-nav { display:none; }
.c-tabs.no-js .c-tab { display:block; margin-bottom:1.5rem; }
.c-tabs.no-js .c-tab:last-child { margin-bottom:0; }


/* MOBILE == */
@media screen and (max-width:1023px) { 
	@font-face { src:url('../fonts/NanumSquareR.ttf') format('truetype'); }
	@font-face { src:url('../fonts/NanumSquareB.ttf') format('truetype'); }
	@font-face { src:url('../fonts/NanumGothic.ttf') format('truetype'); }
}